[server]
#host=host.docker.internal
host=dening-tech.cn
port=8000
admin_token=ae77cabaa53262543021858d24687acf8d1ccaee3dd6d3fba25130d960a0d2c3
[mqtt]
host=dening-tech.cn
#host=192.168.1.63
port=8883
#port=1883
client_id=q_trading_cli_1
username=q_share
password=q_share_123
need_tls=true
cert_file=./cert/client.crt
key_file=./cert/client.key
ca_file=./cert/ca.crt
[web]
listen_host=0.0.0.0
listen_port=8085
[log]
config=cfg/log.yaml
[strategy]
type=趋势追踪, 反弹策略, 网格交易策略, 反转策略, 多因子选股, 基本面策略