[redis]
enable=true
#host=dening-tech.cn
host=192.168.1.63
port=16379
password=redis@123
db=0
enable_ssl=false
cert = cert/client.crt
key = cert/client.key
ca = cert/ca.crt
[mongo]
#host=dening-tech.cn
host=192.168.1.63
port=27017
username=qshare
password=qshare@123
database=q_share
[stock_fetch]
real_time_sync_interval=6
sync_workers=5
real_time_stock_limit=5
[tickflow]
api_token=tk_44651f1f77e04d3a8b5ce8e3bf868990
server_url=https://api.tickflow.org/v1
industry_hq_sync_interval=12
history_hq_sync_interval=6
history_hq_sync_number_of_once=1
[akshare]
industry_hq_sync_interval=120
[mqtt]
#host=dening-tech.cn
host=192.168.1.63
#port=8883
port=1883
client_id=q_share_mqtt_client_10
username=q_share
password=q_share_123
need_tls=false
cert_file=./cert/client.crt
key_file=./cert/client.key
ca_file=./cert/ca.crt
[log]
config=cfg/log.yaml
[data_proxy]
name=q_share_proxy_1